/*************************
 mobile-first style
 ************************/
 #content {
   font-family: "Karla", sans-serif;
 }

 header {
  margin-top: -.5rem;
  margin-left: -.5rem;
  position: fixed;
  width: 100%;
  background-color: #bbb;
  opacity: .8;
}

.logo {
  text-align:center;
  padding-top: 5rem;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 2.95em;
  font-family: "Karla", sans-serif;
  color: #fff;
}

h2 {
  font-family: "Karla", sans-serif;
}

h2 a, h2 a:visited {
  color: #000;
  text-decoration: none;
}

.read {
  color: #1d4588;
}

.img150 {
  float: left;
  padding-right: 1rem;
}

footer {
  font-family: 'Karla', sans-serif;
}


#navFlexcontainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#footFlexcontainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

nav ul {
  list-style: none;
  font-family: "Karla", sans-serif;
}

li a {
  text-decoration: none;
}

nav a, nav a:visited {
  color: #000;
}

a:hover {
	color: #2BD1DC;








/********************************
medium-sized screens
********************************/

/*@media screen and (min-width: 600px){

  nav ul {
    float: left;
    max-height: 25rem;
  }

  #logo {
    background-color: #2BD1DC;
  }

  .content {
    font-family: "Karla", sans-serif;
  }



  #navFlexcontainer {
    display: flex;
    flex-flow: wrap;
    justify-content:left;
  }

}
