/*************************
 mobile-first style
 ************************/
 html {
   font-family: 'Karla', sans-serif;
 }

 header {
  margin-top: -.5rem;
  margin-left: -.5rem;
  position: fixed;
  width: 100%;
  background-color: #bbb;
  opacity: .8;
}

.logo {
  text-align:center;
  width: 100%;
  padding-top: 3rem;
}

.title {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 2.95em;
  color: #fff;
}

#desc {
  visibility: hidden;
}

h2 a, h2 a:visited {
  color: #000;
  text-decoration: none;
}

.read {
  color: #1d4588;
}

.img150 {
  float: left;
  padding-right: 1rem;
}

#navFlexcontainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 8rem;
}

#footFlexcontainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

nav ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

nav a, nav a:visited {
  color: #000;
}

a:hover {
	color: #2BD1DC;
}

/********************************
medium-sized screens
********************************/

@media screen and (min-width: 600px){

  .logo {
    position: fixed;
    float: left;
    margin: 1rem;
    width: 200px;
    padding-top: 0rem;
  }

  svg {
    height: 150px;
    width: 150px;
  }

  #content {
    margin-left: 25rem;
  }

  article {
  min-height: 200px;
  border-bottom: 1px solid black;
  max-width: 95%;
  min-width: 95%;
  margin-top: 1rem;
  margin-left: 0;
  padding: 0 1rem 1rem 1rem;
  width: 150rem;
  }

  header {
   position: fixed;
   width: 100%;
   background-color: #fff;
 }

 h1 {
   color: #000;
   float: left;
   padding-top: 7rem;
   padding-left: 7rem;
 }

 .img150 {
   float: left;
   max-width: 30%;
 }

 article:nth-of-type(odd) .img150 {
      float:right;
      padding-left:0.8rem;
      padding-right:0;
  }

 /*#desc {
   visibility: visible;
   color: #000;
 }*/

  #navFlexcontainer {
    display: flex;
    flex-flow: wrap;
    justify-content: left;
    max-width: 300px;
    position: fixed;
    padding-top: 11rem;
    float: left;
  }

  nav ul {
    list-style: circle;
  }

}
