/*************************
 mobile-first style
 ************************/

/*************************
 screen size more than 600px
 ************************/

 @media (min-width:400px) {
    .header {
     position: sticky;
     width: 100%;
     top: 0px;
     background-color: #ddd;
   }

   h1 {
     text-align: center;
     font-size: 2.95em;
     font-family: "Karla", sans-serif;
   }

   h2 {
     font-family: "Karla", sans-serif;
   }

#headerFlexcontainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

   .navFlexcontainer {
     display: flex;
     flex-flow: wrap;
     flex-direction: column;
     justify-content: center;
   }

   nav ul {
     list-style: none;
     font-family: "Karla", sans-serif;
     /*align-content: center;*/
   }

   li a{
     text-decoration: none;
   }

   .content {
     margin-top: 60px;
     font-family: "Karla", sans-serif;
   }

   p {
     /*padding-left: 2rem;*/
   }

   .img400 {
     float: left;
     padding-right: 1rem;
   }

   #footFlexcontainer {
     display: flex;
     flex-flow: wrap;
     justify-content: center;
   }
 }
