/*************************
 mobile-first style
 ************************/

.header {
  margin-top: -.5rem;
  margin-left: -.5rem;
  position: fixed;
  width: 100%;
  /*background-color: #51E2E4;*/
  background-color: #bbb;
  opacity: .8;
}

.logo {
  text-align:center;
  padding-top: 5rem;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 2.95em;
  font-family: "Karla", sans-serif;
  color: #fff;
  /*-webkit-text-stroke: 1px #000;*/
}

h2 {
  /*padding-top: 5rem;*/
  font-family: "Karla", sans-serif;
}

h2 a, h2 a:visited {
  color: #000;
  text-decoration: none;
}

.navFlexcontainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-direction: column;
  padding-top: 0rem;
}

nav ul {
  list-style: none;
  font-family: "Karla", sans-serif;
}

li a {
  text-decoration: none;
}

nav a, nav a:visited {
  color: #000;
}

.content {
  font-family: "Karla", sans-serif;
}


.img150 {
  float: left;
  padding-right: 1rem;
}

.read {
  color: #005CE6;
}

#footFlexcontainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  /*padding-top: 6rem;*/
}

footer {
  font-family: 'Karla', sans-serif;
}
